
body.organization-page .organization-page-title-bar {
    display: flex !important;
}

body.users-page .users-page-title-bar {
    display: flex !important;
}

body.clusters-page .clusters-page-title-bar {
    display: flex !important;
}
